@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins:500&display=swap');

html {
	font-size: 14px;
}

body {
    margin: 0;
    background-color: #212529;
    font-family: 'Open Sans', sans-serif;
}

h1 {
	text-align: center;

	font-family: 'Poppins', sans-serif;
	font-size: 2rem;

	margin: 0 auto 2rem;
}

a {
	color: inherit;
}

.container {
    color: #e9ecef;
    margin-top: 20px;
}

#about-me {
    padding: 2em 0;
}

.media {
    font-size: 2rem;
    width: 75%;
    margin: auto;
}

.media a:hover {
    color: #6c757d;
}

@media (min-width: 768px) {
    img {
        width: 100%;
    }
    
    #about-me {
        max-width: 860px;
        margin: auto;
        text-align: center;
    }

    .media {
        max-width: 300px;
    }
}

@media (min-width: 992px) {
    img {
        width: 100%;
    }
    
    #about-me {
        max-width: 860px;
        margin: auto;
        text-align: center;
        font-size: 1.4rem;
    }

    .media {
        max-width: 300px;
    }
}

@media (min-width: 1200px) {
    .container {
        margin-top: 200px;
        display: flex;
        flex-direction: row;
    }

    #right {
        padding: 2em;
    }
    
    #about-me {
        font-size: 1rem;
    }

    .media {
        font-size: 1.4rem;
    }
}

