@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Chivo');
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
	margin: 0;
	padding: 0;
	font-family: "Chivo", sans-serif;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

p {
	line-height: 30px;
}

section {
	padding-top: 47px;
	padding-bottom: 70px;
}

section > h1 {
	text-align: center;
	padding: 20px 0 30px;
}

.flexbox {
	display: flex;
}

.fixed {
	position: fixed;
	top: 0;
	z-index: 1;
}

/****************************/
.nav-bar {
	/*background-color: #d5f4e6;*/
	background-color: #ffffff;
	height: 47px;
	width: 100%;
}

.nav-bar .links {
	width: 50%;
	margin: auto;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.nav-bar .links li {
	display: inline-block;
	padding: 0 20px;
}

.nav-bar .links li a {
	color: #618685;
}

/****************************/
.header {
	height: 100vh;
	/*background-color: #d5f4e6;*/
}

.header .container {
	height: 100%;
	flex-direction: column;
	justify-content: center;
}

.header .text {
	text-align: center;
}

.header .text .heading {
	color: #618685;
	font-size: 3em;
}

.header .text .subheading {
	color: #80ced6;
	font-weight: 100;
	letter-spacing: 3px;
	line-height: 30px;
}

/****************************/
.about {
	background-color: #618685;
	color: #fefbd8;
}

.about .container {
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.about img {
	display: block;
	margin: auto;
	width: 100%;
}

.about .text {
	margin: auto;
	width: 100%;
	padding: 20px;
}

.about .text > p {
	font-weight: 100;
	font-family: "Lato", sans-serif;
}

/****************************
**********Portfolio**********
*****************************/
.portfolio .project {
	background-color: rgba(97, 134, 133, 0.5);
	border-radius: 25px;
	box-shadow: 0 4px 8px rgba(97, 134, 133, 0.2), 0 6px 12px rgba(97, 134, 133, 0.19);
	overflow: hidden;
	width: 70%;
	margin: auto;
	padding-bottom: 13px;
	flex-direction: column;
	align-items: center;
}

.project img {
	width: 100%;
}

.project .info {
	padding: 20px 10px;
	width: 80%;
}

.project .info .title {
	font-weight: 100;
}

.project .info > p {
	font-family: "Roboto", sans-serif;
	margin: 20px 0 27px;
}

.project .info > a {
	border: 2px solid #618685;
	color: #000000;
	padding: 7px;
	border-radius: 10px;
}

.project .info > a:hover {
	background-color: #618685;
	color: #fefbd8;
}

/****************************
***********Footer************
*****************************/

footer {
	height: 100px;
	background-color: #618685;
	color: #fefbd8;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	padding: 10px;
}

.icon {
	width: 30px;
	height: 30px;
	margin: 0 7px;
}

/****************************
********Media Queries********
*****************************/

@media screen and (min-width: 768px) and (max-width: 990px) {
	.about img {
		width: 600px;
	}

	.about .text {
		width: 600px;
		padding: 20px 0;
	}
}

@media only screen and (min-width: 990px) {
	.about img {
		width: 500px;
		height: 333px;
		margin: 0;
	}

	.about .container {
		flex-direction: row;
	}

	.about .text {
		width: 40%;
		padding: 0 20px;
		margin: 0 10px;
	}

	.portfolio .project {
		padding: 0;
		height: 310px;
		flex-direction: row;
	}

	.project .info {
		margin-left: 10px;
	}

	.project img {
		width: 450px;
		margin: 0;
	}
}